# Vue .js ----------------------------------------------------------------------
'.source.js':
  '-vue-new Vue({$1});':
    'prefix': 'newVue'
    'body': """new Vue({
        el : '$1',
        data : {},
        computed : {},
        watch : {},
        methods : {},
        mounted : function (){
          var that = this;
          this.$nextTick(function () { });
          
        },
      });""" 
  '-vue-new VueRouter();':
    'prefix': 'newVueRouter'
    'body': """new VueRouter({
        routes : $1,
      });""" 
  '-Vue.component("xx",{});':
    'prefix': 'vueComponent'
    'body': """Vue.component("${1:xx}",{
      template : "",
      props : [],
      data : function(){
        return {
          
        }
      },
      computed : {},
      methods : {},
    });""" 
  '-Vue.directive("xx-xx",{});':
    'prefix': 'vueDirective'
    'body': """Vue.directive('${1:xx-xx}', {
      bind : function(el,binds,vn){
        // binds{name,value,expression,arg,modifiers}
      },
      inserted : function(el,binds,vn){
        
      },
      update : function(el,binds,vn,oVn){
        // binds{name,value,expression,arg,modifiers,oldValue}
      },
      componentUpdated : function(el,binds,vn,oVn){
        // binds{name,value,expression,arg,modifiers,oldValue}
      },
      unbind : function(el,binds,vn,oVn){
        
      }
    });""" 
  '-Vue.filter("xxXX",foo);':
    'prefix': 'vuefilter'
    'body': """Vue.filter('xxXX',function(val,arg2,arg3){
        
      });""" 
  '-Vue.extend({});':
    'prefix': 'vueextend'
    'body': """Vue.extend({
        
      });""" 
  '-vue-aa-watch':
    'prefix': 'watch'
    'body': """watch""" 
  '-vue-bb-mounted':
    'prefix': 'mounted'
    'body': """mounted""" 
  '-vue-cc-srcElement':
    'prefix': 'srcElement'
    'body': """srcElement""" 
