# BOM  .js 
'.source.js':
  'cls-XMLHttpRequest':
    'prefix': 'XMLHttpRequest'
    'body': 'XMLHttpRequest'
  'o-window':
    'prefix': 'window'
    'body': 'window'
  'W1-alert($1);':
    'prefix': 'alert'
    'body': 'alert($1);'
  'W1-confirm(str)':
    'prefix': 'confirm'
    'body': 'confirm($1)'
  'W1-clearInterval($1)':
    'prefix': 'clearInterval'
    'body': 'clearInterval($1)'
  'W1-clearTimeout($1)':
    'prefix': 'clearTimeout'
    'body': 'clearTimeout($1)'
  'W1-setTimeout(${1:funName},${2:time});':
    'prefix': 'setTimeout'
    'body': 'setTimeout(${1:funName},${2:time});'
  'W1-setInterval(${1:funName},${2:time});':
    'prefix': 'setInterval'
    'body': 'setInterval(${1:funName},${2:time});'
  'W1-parseFloat(str);':
    'prefix': 'parseFloat'
    'body': 'parseFloat($1);'
  'W1-parseInt(str[,radix]);':
    'prefix': 'parseInt'
    'body': 'parseInt(str,${1:radix});'
  'W1-open()':
    'prefix': 'open'
    'body': 'open("${1:url}","_self");'
  'W1-prompt("提示文字","默认显示文字");':
    'prefix': 'prompt'
    'body': 'prompt("提示文字","默认显示文字");'
  'package--ajax':
    'prefix': 'ajax'
    'body':  """
      var xhr = new XMLHttpRequest();
      xhr.open('Method', 'Url', true);
      xhr.setRequestHeader('Content-Type', 'application/json'); // 可选
      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4) {
          console.log('state change end', xhr);
          console.log(xhr.status);
          console.log(xhr.response);
          var response = JSON.parse(xhr.response);
          console.log(response);
        } 
        else {
          console.log('change');
        }
      }
      var aoo = { username: 'gua', password: '123', };
      var data = JSON.stringify(aoo);
      xhr.send(data); 
      """
