# DOM .js 
'.source.js':
  # elem -------------------------------------
  'el-innerHTML("$1");':
    'prefix': 'innerHTML'
    'body': 'innerHTML("$1");'
  'el-innerText("$1");':
    'prefix': 'innerText'
    'body': 'innerText("$1");'
  'el-createElement("$1");':
    'prefix': 'createElement'
    'body': 'createElement("$1");'
  'el-cloneNode(bool);':
    'prefix': 'cloneNode'
    'body': 'cloneNode($1);'
  'el-getAttribute("$1");':
    'prefix': 'getAttribute'
    'body': 'getAttribute("$1");'
  'el-querySelector("$1");':
    'prefix': 'querySelector'
    'body': 'querySelector("$1");'
  'el-querySelectorAll("$1")':
    'prefix': 'querySelectorAll'
    'body': 'querySelectorAll("$1")'
  'el-insertAdjacentHTML("${1:beforeend}",html)':
    'prefix': 'insertAdjacentHTML'
    'body': 'insertAdjacentHTML("${1:beforeend}",html);'
