@charset "utf-8";
/*选用 布局类*/
.inb { display: inline-block !important; }
.block { display: block !important;}
.vamWp:before {
  content: '';
  display: inline-block;
  height:100%;
  width: 0;
  vertical-align: middle;
}
.vam{ vertical-align: middle; }
.center{text-align: center;}
.fR{ float: right; }
.fL{ float: left; }

/*选用 修饰类*/
.pointer{
  cursor: pointer;
  user-select:none;
}
.imgWp img{width: 100%;}
.ft0{font-size: 0;}
.ft0 *{font-size: initial;}
.reverse{ transform:rotate(180deg); }



/*选用 操作类*/
.none { display: none !important; }
.hid1 { visibility: hidden !important; }
.hid2 {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}
