# 所有格式的补全 
'*':
  # 名词 ---------------------------------------------------------------------
  '-any abstract':
    'prefix': 'abstract'
    'body': """abstract""" 
  '-any async':
    'prefix': 'async'
    'body': 'async'
  '-any autoprefixer':
    'prefix': 'autoprefixer'
    'body': 'autoprefixer'
  '-any bundle':
    'prefix': 'bundle'
    'body': """bundle""" 
  '-any config':
    'prefix': 'config'
    'body': """config""" 
  '-any data':
    'prefix': 'data'
    'body': """data""" 
  '-any double':
    'prefix': 'double'
    'body': """double""" 
  '-any error':
    'prefix': 'error'
    'body': 'error'
  '-any fail':
    'prefix': 'fail'
    'body': """fail""" 
  '-any success':
    'prefix': 'success'
    'body': 'success'
  '-any from':
    'prefix': 'from'
    'body': """from""" 
  '-any function':
    'prefix': 'function'
    'body': 'function'
  '-any handler':
    'prefix': 'handler'
    'body': """handler""" 
  '-any header':
    'prefix': 'header'
    'body': """header""" 
  '-any global':
    'prefix': 'global'
    'body': 'global'
  '-any volatile':
    'prefix': 'volatile'
    'body': """volatile""" 
  '-any source':
    'prefix': 'source'
    'body': 'source'
  '-any that':
    'prefix': 'that'
    'body': 'that'
  '-any synchronized':
    'prefix': 'synchronized'
    'body': """synchronized""" 
  '-any transient':
    'prefix': 'transient'
    'body': """transient""" 
  '-any route':
    'prefix': 'route'
    'body': 'route'
  '-any socket':
    'prefix': 'socket'
    'body': """socket""" 
  '-any install':
    'prefix': 'install'
    'body': 'install'
  '-any interface':
    'prefix': 'interface'
    'body': """interface""" 
  '-any loader':
    'prefix': 'loader'
    'body': """loader""" 
  '-any method':
    'prefix': 'method'
    'body': """method""" 
  '-any multiple':
    'prefix': 'multiple'
    'body': """multiple""" 
  '-any native':
    'prefix': 'native'
    'body': """native""" 
  '-any package':
    'prefix': 'package'
    'body': """package""" 
  '-any private':
    'prefix': 'private'
    'body': """private""" 
  '-any props':
    'prefix': 'props'
    'body': """props""" 
  '-any protect':
    'prefix': 'protect'
    'body': """protect""" 
  # js ---------------------------------------------------------------------
  '-Object':
    'prefix': 'Object1' 
    # 存在bug
    'body': 'Object'
  '-any blur':
    'prefix': 'blur'
    'body': 'blur'
  '-any break':
    'prefix': 'break'
    'body': """break""" 
  '-any click':
    'prefix': 'click'
    'body': 'click'
  '-any components':
    'prefix': 'components'
    'body': """components""" 
  '-any continue':
    'prefix': 'continue'
    'body': 'continue'
  '-any default':
    'prefix': 'default'
    'body': 'default'
  '-any delete':
    'prefix': 'delete'
    'body': 'delete'
  '-any directive':
    'prefix': 'directive'
    'body': """directive""" 
  '-any document':
    'prefix': 'document'
    'body': 'document'
  '-any false':
    'prefix': 'false'
    'body': """false""" 
  '-any finally':
    'prefix': 'finally'
    'body': """finally""" 
  '-any focus':
    'prefix': 'focus'
    'body': 'focus'
  '-any implements':
    'prefix': 'implements'
    'body': """implements""" 
  '-any inseanceof':
    'prefix': 'inseanceof'
    'body': """inseanceof""" 
  '-any length':
    'prefix': 'length'
    'body': 'length'
  '-any public':
    'prefix': 'public'
    'body': """public""" 
  '-any request':
    'prefix': 'request'
    'body': """request""" 
  '-any resolve':
    'prefix': 'resolve'
    'body': 'resolve'
  '-any reject':
    'prefix': 'reject'
    'body': 'reject'
  '-any result':
    'prefix': 'result'
    'body': """result""" 
  '-any return':
    'prefix': 'return'
    'body': 'return'
  '-any static':
    'prefix': 'static'
    'body': """static""" 
  '-any strict':
    'prefix': 'strict'
    'body': """strict""" 
  '-any switch':
    'prefix': 'switch1'
    'body': """switch""" 
  '-any target.':
    'prefix': 'target'
    'body': 'target'
  '-any this':
    'prefix': 'this'
    'body': 'this'
  '-any throw':
    'prefix': 'throw'
    'body': """throw""" 
  '-any undefined':
    'prefix': 'undefined'
    'body': 'undefined' 
  '-any value':
    'prefix': 'value'
    'body': 'value' 
  # html------------------------------------------------------------------------
  '-any <tag>$1</tag>':
    'prefix': 'tag'
    'body': '<${1:tag}></${1:tag}>'
  '-any <tag/>':
    'prefix': 'tag1'
    'body': '<${1:tag}/>'
  # http------------------------------------------------------------------------
  '-any Content-Type':
    'prefix': 'Content-Type'
    'body': """\"Content-Type\"""" 
