# BOM  .js ---------------------------------------------------------------------
'.source.js': 
  # clss --------------------------------------------
  '-BM XMLHttpRequest':
    'prefix': 'XMLHttpRequest'
    'body': 'XMLHttpRequest'
  '-BM FileReader':
    'prefix': 'FileReader'
    'body': """FileReader"""
  '-BM WebSocket':
    'prefix': 'WebSocket'
    'body': 'WebSocket'
  # window ------------------------------------------
  '-BM window':
    'prefix': 'window'
    'body': 'window'
  '-BM history':
    'prefix': 'history'
    'body': 'history'
  '-BM location':
    'prefix': 'location'
    'body': 'location'
  '-BM navigator':
    'prefix': 'navigator'
    'body': 'navigator'
  '-BM alert($1)':
    'prefix': 'alert'
    'body': 'alert($1)'
  '-BM confirm(str)':
    'prefix': 'confirm'
    'body': 'confirm($1)'
  '-BM clearInterval($1)':
    'prefix': 'clearInterval'
    'body': 'clearInterval($1)'
  '-BM clearTimeout($1)':
    'prefix': 'clearTimeout'
    'body': 'clearTimeout($1)'
  '-BM setTimeout(${1:funName},${2:time})':
    'prefix': 'setTimeout'
    'body': 'setTimeout(${1:funName},${2:time})'
  '-BM setInterval(${1:funName},${2:time})':
    'prefix': 'setInterval'
    'body': 'setInterval(${1:funName},${2:time})'
  '-BM open()':
    'prefix': 'open'
    'body': 'open("${1:url}","_self")'
  '-BM prompt("提示文字","默认显示文字")':
    'prefix': 'prompt'
    'body': 'prompt("提示文字","默认显示文字")'
