# jQuery .js-------------------------------------------------------------------- 
'.source.js':
  '-jq-$($1)':
    'prefix': 'jq'
    'body': '$($1)'
  '-jq-$-jQuery($1)':
    'prefix': 'jQuery'
    'body': 'jQuery($1)'
  '-jq-$-$.Deferred();':
    'prefix': 'deferred'
    'body': '$.Deferred();'
  '-jq-$-$.getScript(url,cfoo);':
    'prefix': 'getScript'
    'body': """$.getScript("../js.js",function(){
        $1
      });""" 
  '-jq-01-after($1);':
    'prefix': 'after'
    'body': 'after($1)'
  '-jq-01-append($1)':
    'prefix': 'append'
    'body': 'append($1)'
  '-jq-01-before($1)':
    'prefix': 'before'
    'body': 'before($1)'
  '-jq-01-appendTo($1)':
    'prefix': 'appendTo'
    'body': 'appendTo($1)'
  '-jq-01-children(["selector"])':
    'prefix': 'children'
    'body': 'children($1)'
  '-jq-01-clone([bool])':
    'prefix': 'clone'
    'body': 'clone($1)'
  '-jq-01-closest($1)':
    'prefix': 'closest'
    'body': 'closest($1)'
  '-jq-01-find($1)':
    'prefix': 'find'
    'body': 'find($1)'
  '-jq-01-insertAfter($1)':
    'prefix': 'insertAfter'
    'body': 'insertAfter($1)'
  '-jq-01-insertBefore($1)':
    'prefix': 'insertBefore'
    'body': 'insertBefore($1)'
  '-jq-01-next(["selector"])':
    'prefix': 'next'
    'body': 'next($1)'
  '-jq-01-nextAll(["selector"])':
    'prefix': 'nextAll'
    'body': 'nextAll($1)'
  '-jq-01-not($1)':
    'prefix': 'not'
    'body': 'not($1)'
  '-jq-01-wrap($1);':
    'prefix': 'wrap'
    'body': 'wrap($1)'
  '-jq-01-wrapAll($1);':
    'prefix': 'wrapAll'
    'body': 'wrapAll($1)'
  '-jq-01-wrapInner($1);':
    'prefix': 'wrapInner'
    'body': 'wrapInner($1)'
  '-jq-01-unwrap($1);':
    'prefix': 'unwrap'
    'body': 'unwrap($1)'
  '-jq-01-prepend($1)':
    'prefix': 'prepend'
    'body': 'prepend($1)'
  '-jq-01-prependTo($1)':
    'prefix': 'prependTo'
    'body': 'prependTo($1)'
  '-jq-01-prev(["selector"])':
    'prefix': 'prev'
    'body': 'prev($1)'
  '-jq-01-prevAll(["selector"])':
    'prefix': 'prevAll'
    'body': 'prevAll($1)'
  '-jq-01-siblings("$1")':
    'prefix': 'siblings'
    'body': 'siblings("$1")'
  '-jq-01-parent(["selector"])':
    'prefix': 'parent'
    'body': 'parent($1)'
  '-jq-01-parents(["selector"])':
    'prefix': 'parents'
    'body': 'parents($1)'
  '-jq-02-addClass("$1");':
    'prefix': 'addClass'
    'body': 'addClass("$1")'
  '-jq-02-attr($1)':
    'prefix': 'attr'
    'body': 'attr($1)'
  '-jq-02-css($1)':
    'prefix': 'css'
    'body': 'css($1)'
  '-jq-02-data($1)':
    'prefix': 'data'
    'body': 'data($1)'
  '-jq-02-detach()':
    'prefix': 'detach'
    'body': 'detach()'
  '-jq-02-hasClass("$1")':
    'prefix': 'hasClass'
    'body': 'hasClass("$1")'
  '-jq-02-empty()':
    'prefix': 'empty'
    'body': 'empty()'
  '-jq-02-eq(idx)':
    'prefix': 'eq'
    'body': 'eq($1)'
  '-jq-02-html($1)':
    'prefix': 'html'
    'body': 'html($1)'
  '-jq-02-index([$1])':
    'prefix': 'index'
    'body': 'index($1)'
  '-jq-02-innerHeight([$1])':
    'prefix': 'innerHeight'
    'body': 'innerHeight($1)'
  '-jq-02-innerWidth([$1])':
    'prefix': 'innerWidth'
    'body': 'innerWidth($1)'
  '-jq-02-val($1);':
    'prefix': 'val'
    'body': 'val($1)'
  '-jq-02-text($1);':
    'prefix': 'text'
    'body': 'text($1)'
  '-jq-02-prop($1)':
    'prefix': 'prop'
    'body': 'prop($1)'
  '-jq-03-animate(params,time[,duration][,cfoo]);':
    'prefix': 'animate'
    'body': 'animate($1)'
  '-jq-03-fadeIn([time,cfoo])':
    'prefix': 'fadeIn'
    'body': 'fadeIn(${1:speed,cfoo})'
  '-jq-03-fadeOut([time,cfoo])':
    'prefix': 'fadeOut'
    'body': 'fadeOut(${1:speed,cfoo})'
  '-jq-03-fadeToggle([time,cfoo])':
    'prefix': 'fadeToggle'
    'body': 'fadeToggle(${1:speed,cfoo})'
  '-jq-03-fadeTo(time,opacity,cfoo)':
    'prefix': 'fadeTo'
    'body': 'fadeTo($1)'
  '-jq-03-hide([time,cfoo])':
    'prefix': 'hide'
    'body': 'hide(${1:speed,cfoo})'
  '-jq-03-trigger("event",[]);':
    'prefix': 'trigger'
    'body': 'trigger("${1:click}",[]);'
  '-jq-05-ajax':
    'prefix': 'ajaxJQ'
    'body': """$.ajax({ // 某接口
        type : 'GET',
        url  : 'url',
        data : {
          key : val,
        }, 
        dataType : 'json',
        xhrFields: { withCredentials: true  },
        /* 请求带上cookie */
        crossDomain: true, 
        // 跨域
        // contentType:'application/json',
        beforeSend : function(){ }, 
        // 发送请求前执行
        complete : function(jqxhr,status){ }, 
        // 请求完成完后(无论成功与否)执行
        cache : true , 
        // 后续可能会调用缓存;false则不缓存,只对post方法有效,默认为true
      })
      .then(function(backData,statusTxt,xhr){
        console.log('某接口',statusTxt,backData);
      }
      ,function(xhr,status,errorTrown){
        console.log("%cstatus:"+status+'某接口',"background:#afffee;");
      }) """
  '-jq-05-ajaxStart(cfoo);':
    'prefix': 'ajaxStart'
    'body': 'ajaxStart(function(){$1})'
  '-jq-05-ajaxStop(cfoo);':
    'prefix': 'ajaxStop'
    'body': 'ajaxStop(function(){$1})'
  '-jq-andSelf($1);':
    'prefix': 'andSelf'
    'body': 'andSelf($1)'
  '-jq-each(function(){})':
    'prefix': 'each'
    'body': """each(function(idx,elem){
      $1
      })"""
  '-jq-metaKey':
    'prefix': 'metaKey'
    'body': 'metaKey'
  '-jq-offset([{top:num1,left:num2}])':
    'prefix': 'offset'
    'body': 'offset(${1:{top:num1,left:num2}})'
  '-jq-offsetParent()':
    'prefix': 'offsetParent'
    'body': 'offsetParent()'
  '-jq-on("${1:click}",cfoo)':
    'prefix': 'on'
    'body': """on("${1:click}",function(e){
        $2
      })"""
  '-jq-originalEvent':
    'prefix': 'originalEvent'
    'body': 'originalEvent'
  '-jq-outerHeight([true])':
    'prefix': 'outerHeight'
    'body': 'outerHeight(${1:true})'
  '-jq-outerWidth([true])':
    'prefix': 'outerWidth'
    'body': 'outerWidth(${1:true})'
  '-jq-position()':
    'prefix': 'position'
    'body': 'position()'
  '-jq-relatedTarget':
    'prefix': 'relatedTarget'
    'body': 'relatedTarget'
  '-jq-removeAttr($1)':
    'prefix': 'removeAttr'
    'body': 'removeAttr($1)'
  '-jq-removeDate($1)':
    'prefix': 'removeDate'
    'body': 'removeDate($1)'
  '-jq-removeClass($1)':
    'prefix': 'removeClass'
    'body': 'removeClass($1)'
  '-jq-replaceAll($1)':
    'prefix': 'replaceAll'
    'body': 'replaceAll($1)'
  '-jq-replaceWith($1)':
    'prefix': 'replaceWith'
    'body': 'replaceWith($1)'
  '-jq-request()':
    'prefix': 'requestJQ'
    'body': 'request(url,function(err,response,data,){$1});'
  '-jq-scrollLeft([$1])':
    'prefix': 'scrollLeft'
    'body': 'scrollLeft($1)'
  '-jq-scrollTop([$1])':
    'prefix': 'scrollTop'
    'body': 'scrollTop($1)'
  '-jq-select()':
    'prefix': 'select'
    'body': 'select()'
  '-jq-show([time,cfoo])':
    'prefix': 'show'
    'body': 'show(${1:speed,cfoo})'
  '-jq-slideDown([time,cfoo])':
    'prefix': 'slideDown'
    'body': 'slideDown(${1:speed,cfoo})'
  '-jq-slideUp([time,cfoo])':
    'prefix': 'slideUp'
    'body': 'slideUp(${1:speed,cfoo})'
  '-jq-slideToggle([time,cfoo])':
    'prefix': 'slideToggle'
    'body': 'slideToggle(${1:speed,cfoo})'
  '-jq-stop(bool1][,bool2])':
    'prefix': 'stop'
    'body': 'stop(${1:true,true})'
  '-jq-toggle([time,cfoo])':
    'prefix': 'toggle'
    'body': 'toggle(${1:speed,cfoo})'
  '-jq-toggleClass("$1");':
    'prefix': 'toggleClass'
    'body': 'toggleClass("$1");'
  '-jq-which':
    'prefix': 'which'
    'body': 'which'
