# less -------------------------------------------------------------------------
'.source.css.less':
  '-less @import "${1:../a.less}";':
    'prefix': 'import less'
    'body': '@import "${1:../a.less}";'
  # 自定义 ------------------------------------
  '-less *@wu':
    'prefix': 'wu'
    'body': '*@wu'
