# React  .js -------------------------------------------------------------------
'.source.js':
  '-React;':
    'prefix': 'React'
    'body': """React""" 
  '-React.createClass({$1});':
    'prefix': 'ReactCreateClass'
    'body': """React.createClass({
      render : function1(){
        return <div> $1 </div>;
      },
    });""" 
  '-React.render(html,elem);':
    'prefix': 'ReactRender'
    'body': """React.render(<Tag key="val" />,elem);""" 
