# Vue .html ------------------------------------------------------------------
'.text.html.basic':
  '-vue-vbind':
    'prefix': 'vbind'
    'body': ':${1:class}="${2:arg}"'
  '-vue-velse':
    'prefix': 'velse'
    'body': 'v-else'
  '-vue-vfor':
    'prefix': 'vfor'
    'body': 'v-for="(${1:---}Item,${1:---}Idx) in ${1:---}List"' 
  '-vue-vhtml':
    'prefix': 'vhtml'
    'body': 'v-html="${1:key}"' 
  '-vue-vif':
    'prefix': 'vif'
    'body': 'v-if="${1:key}"' 
  '-vue-velseif':
    'prefix': 'velseif'
    'body': 'v-else-if="${1:key}"' 
  '-vue-vmodel':
    'prefix': 'vmodel'
    'body': 'v-model="${1:key}"'
  '-vue-von':
    'prefix': 'von'
    'body': '@${1:click}="${2:arg}"' 
  '-vue-vonce':
    'prefix': 'vonce'
    'body': """v-once""" 
  '-vue-vshow':
    'prefix': 'vshow'
    'body': 'v-show="${1:key}"' 
  '-vue-vtext':
    'prefix': 'vtext'
    'body': 'v-text="${1:key}"' 
