a {
  color: #a38b64;
}

.section {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  min-width: 150px;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
.item-wrap {
  max-height: 300px;
  overflow-y: scroll;
  outline: 1px solid #ccc;
}
.item {
  display: block;
  padding: 5px 0 5px 5px;
}



